html {
    height: 100%;
}

body {
    font-family: arial,sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
}

#main {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-navbar {
    background-color: #f2f2f2;
    border: 1px solid #e7eaec;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    align-items: center;
    padding-left: 15px;
    padding-top: 9px;
    opacity: 0.75;
}

ul.bottom {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

li {
    display: inline;
    color:black;
    padding: 8px;
}

li:hover {
    text-decoration: underline;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

li.center {
    margin-top: 6px;
}

li.sign-in {
    display: inline-block;
    color: white;
    background-color: #1865e0;
    font-weight: bold;
    border-radius: 2px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 5px;
    margin-right: 20px;
}

li.bottom {
    display: inline-block;
    color: #3c3e41;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}