html {
    height: 100%;
}

body {
    font-family: arial,sans-serif;
    height: 99%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#main {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    align-items: center;
}

li {
    display: inline;
    color:black;
    padding: 8px;
}

li:hover {
    text-decoration: underline;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

li.center-top {
    margin-top: 6px;
}

li.sign-in {
    display: inline-block;
    color: white;
    background-color: #4285f4;
    font-weight: bold;
    border-radius: 2px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 5px;
    margin-right: 20px;
}